@import "../../styles/variables";
@import "~bootstrap/scss/bootstrap";

.artisan-card-premium {
  border-radius: 15px;
  min-height: 380px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01);
  }

  // Le voile blanc translucide de la maquette
  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(255, 255, 255, 0.65); 
    z-index: 1;
    border-radius: 15px;
  }

  .card-content {
    position: relative;
    z-index: 2;
    color: $blue-dark; // #00497C
    
    h3 { 
      font-size: 1.7rem; 
      font-weight: 700;
      margin-bottom: 0.2rem;
      color: $blue-dark;
    }

    .artisan-category { 
      font-size: 1.2rem; 
      font-weight: 600;
      margin-bottom: 0.8rem;
      color : $dark;
    }
  }

  .stars-container {
    font-size: 1.4rem;
    letter-spacing: -1px; // Rapproche les étoiles
    
    .star-filled { color: $blue-light;} // Étoiles foncées
    .star-empty { color: #d1d1d1; }
  }

  .btn-voir-fiche {
    color: $red; // #CD2C2E
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 1.5rem;
    background: none;
    border: none;
    line-height: 1.2;
    
    &:hover { text-decoration: underline; }
  }
}