.custom-header {
  height: 3rem; // Mobile (h-12)
  transition: height 0.3s ease;

  @media (min-width: 768px) {
    height: 4rem; // Tablette (md:h-16)
  }

  @media (min-width: 1200px) {
    height: 6rem; // Desktop (xl:h-24)
  }

  .header-logo {
    height: 80%; // S'adapte à la hauteur du header
    width: auto;
  }

  .navbar-toggler-icon {
    // On force la couleur bleue de la région pour le burger
    background-image: url("data:image/svg+xml,..."); 
  }
}

.search-container {
  max-width: 400px;
  @media (max-width: 576px) {
    width: 150px; // Plus petit sur l'iPhone 16
  }
}