// 1. TAILLES DU HEADER
$header-height-mobile: 3rem;  
$header-height-tablet: 4rem;  
$header-height-desktop: 6rem; 

// 2. PALETTE OFFICIELLE (Codes exacts de ta maquette)
$blue-light:   #0074C7; // Texte menu
$blue-dark:     #00497C; // Texte principal instructions / Noms artisans
$green:  #82B864; // Mot "artisan"
$red:     #CD2C2E; // Texte "48h" et "VOIR LA FICHE"
$dark:     #384050;
$white:       #f1f8fc;

// 3. POLICES
@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: 700;
}

// 4. SURCHARGE BOOTSTRAP
$font-family-sans-serif: 'Graphik', sans-serif;
$primary: $blue-dark;
$body-bg: $white;
$body-color: $dark;