// 1. TAILLES DU HEADER (Priorité haute pour éviter l'erreur)
$header-height-mobile: 3rem;  
$header-height-tablet: 4rem;  
$header-height-desktop: 6rem; 

// 2. ALIAS POUR MAIN.SCSS
$blue-light: #f1f8fc;
$blue-dark:  #00497c;

// 3. POLICES
@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: 700;
}

// 4. PALETTE OFFICIELLE RÉGION
$blue-admin:    #00497c;
$blue-button:   #0074c7;
$blue-bg:       #f1f8fc;
$text-dark:     #384050;
$red-alert:     #cd2c2e;
$green-accent:  #82b864;

// 5. SURCHARGE BOOTSTRAP
$font-family-sans-serif: 'Graphik', sans-serif;
$primary: $blue-admin;
$body-bg: #ffffff;
$body-color: $text-dark;