@import "../../assets/styles/variables";
@import "~bootstrap/scss/bootstrap";

// DÉFAUT (MOBILE) 
.custom-header {
  background-color: $white ;
  height: auto; 
  padding: 0.5rem 0 ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .header-logo {
    height: 50px; 
    width: auto;
  }

  
  .navbar-collapse {
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem; 
  }

  .nav-link {
    color: $blue-light;
    font-weight: 700;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid rgba(155, 0, 0, 0.05);
      transition: color 0.3s; 

    &:hover {
      color: $blue-dark; 
      text-decoration: underline; 
    }
  }

  // RESEARCH BAR (Mobile)
  .search-container {
    display: flex;       
    justify-content: center;
    margin-top: 1.5rem;  
    width: 100%;

    .search-box {
      display: flex;
      align-items: center;
      background: white;
      border: 1px solid #384050;
      border-radius: 20px;
      height: 40px;      
      width: 100%;       
      max-width: 350px; 
      overflow: hidden;

      input {
        border: none;
        background: transparent;
        height: 100%;
        width: 100%;
        padding-left: 15px;
        &:focus { outline: none; }
      }
      
      .btn-search {
        background: transparent;
        border: none;
        padding-right: 15px;
      }
    }
  }

  //  DESKTOP (ÉCRANS XL+)
  @include media-breakpoint-up(xl) {
    height: $header-height-desktop; 
    padding: 0 ;

    .header-logo { height: 85px; }

    .navbar-collapse {
      margin: 0;
      padding: 0;
    }

    .nav-link {
      padding: 0 ;
      border: none;
      font-size: 1.3rem;
    }

    .search-container {
      margin: 0;
      width: auto; 
      
      .search-box {
        width: 250px; 
        height: 35px;
      }
    }
  }
}