@charset "UTF-8"; 

// Fonts
@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Bold-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

// IMPORTS
@import "variables"; 
@import "~bootstrap/scss/bootstrap";

// STYLES 
main {
  padding-top: 2rem; 
  
  @include media-breakpoint-up(xl) {
    padding-top: 3rem;
  }
}

// SECTIONS
.banner-blue {
  background-color: $blue-light; 
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 3rem;

  h1 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}