@charset "UTF-8"; 
@import "variables"; 
@import "~bootstrap/scss/bootstrap";

// 2. STYLES GLOBAUX
main {
  padding-top: 2rem; 
  
  @include media-breakpoint-up(xl) {
    padding-top: 3rem;
  }
}

// 3. SECTIONS DE LA MAQUETTE
.banner-blue {
  background-color: $blue-light; 
  color: white;
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 3rem;

  h1 {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}